$tone: #8C1F30;
$white: #ffffff;
$black: #282828;
$skin: #D2CAC7;
$skin_dark: #87827F;
$gray: #282828;
$red: #F7615C;
$yellow: #FABD40;
$green: #3BC74A;
$gold: #BEB5A9;
$light: #F8F8F8;
$content: #3d3d3d;