$tone: #AB6E4D;
$white: #ffffff;
$black: #282828;
$skin: #E2DAD7;
$skin_dark: #87827F;
$gray: #3f3f3f;
$content: #1c1c1c;
$red: #F7615C;
$yellow: #FABD40;
$green: #3BC74A;
$blue: #4285F4;
$dark-blue: #3367D6;
$gold: #BEB5A9;
$light: #eee;
$paper: #f4f4f4;
$facebook: #4967AD;
$twitter: #4AA0EC;