$tone: #ab6e4d;
$white: #ffffff;
$black: #282828;
$skin: #e2dad7;
$skin_dark: #87827f;
$gray: #3f3f3f;
$content: #1c1c1c;
$red: #f7615c;
$yellow: #fabd40;
$green: #3bc74a;
$blue: #4285f4;
$dark-blue: #3367d6;
$gold: #beb5a9;
$light: #eee;
$paper: #f4f4f4;
$facebook: #4967ad;
$twitter: #4aa0ec;
