@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexming.css');
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
span {
  font-family: 'cwTeXMing', sans-serif;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 2px;
  text-justify: inter-ideograph;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 24px;
}

.uppercase {
  text-transform: uppercase;
  &.soli{
    &::first-letter {
      font-size: 110%;
      // font-family: sans-serif;
      font-weight: 400;
    }
  }
}