@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500&subset=chinese-traditional,japanese");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
span {
  line-height: 1.4;
  font-family: "Noto Sans CJK TC", "Noto Sans TC", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.ming {
  font-family: "Noto Serif", serif;
}

.uppercase {
  text-transform: uppercase;
  &.soli {
    &::first-letter {
      font-size: 110%;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
}
