#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $black;
  width: calc(100% - 2rem);
  max-height: 30vh;
  padding: 1rem;
  background: $white;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    max-height: 80vh;
  }
  .icon {
    display: grid;
    width: 20%;
    margin: 1rem 2rem;
    padding: 1rem;
    font-size: 12px;
    grid-template-areas:
      "logo icon"
      "policy policy";
    grid-template-columns: auto 1fr;
    @media screen and (max-width: 768px) {
      margin: 0;
      grid-template-areas:
      "logo"
      "icon"
      "policy";
      grid-template-columns: 1fr;
      width: 100%;
      .logo, .policy {
        margin: 0 auto;
      }
    }
    .logo {
      height: 3rem;
      grid-area: logo;
      img {
        height: 100%;
      }
    }
    .policy {
      display: flex;
      flex-direction: row;
      grid-area: policy;
      a {
        margin-right: 1rem;
        color: $black;
        font-weight: 600;
      }
      p {
        span {
          margin-left: 5px;
        }
      }
    }
    ul {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      width: calc(100% - 2rem);
      justify-content: space-between;
      align-items: center;
      grid-area: icon;
      li {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        width: 1.5rem;
        height: 1.5rem;
        a {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: inherit;
        }
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 12px;
    width: 20%;
    margin: 1rem 2rem;
    @media screen and (max-width: 768px) {
      width: 100%;
      align-items: center;
      > * {
        text-align: center;
      }
    }
    p {
      margin: 3px 0;
      letter-spacing: 1px;
      a {
        color: $black;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}