#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $black;
  width: 100%;
  max-height: 30vh;
  padding: 1rem;
  background: $white;
  ul.icon {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    li {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      width: 2rem;
      height: 2rem;
      a {
        width: 100%;
        height: 100%;
        color: inherit;
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    p {
      margin: 3px 0;
    }
  }
}