/* #REGIN Banner animation */
@keyframes banner {
  0% {
    opacity: 0.1;
    // background-position: top;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    // background-position: bottom;
  }
}
/* #ENDREGIN */

/* #Element Nav menu toggle */
@keyframes rotate {
  0% {
    transform: rotate(-180deg)
  }
  80% {
    transform: rotate(30deg)
  }
  100% {
    transform: rotate(0deg)
  }
}
/* #ENDREGIN */

#header {
  display: flex;
  z-index: 1000;
  position: relative;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* #REGIN Banner */
  .image {
    position: absolute;
    height: 100vh;
    width: 100%;
    content: "";
    background: $white;
    background-position: center;
    animation: banner 5s infinite;
    transition: all .3s;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #logo {
    pointer-events: none;
    filter: drop-shadow(0 0 6px $white);
    z-index: 1;
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-areas: "banner space01 space02" "space10 logo   space12" "spece21 slogen spece22";
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;
    /* #REGIN RWD for 5.5' mobile display: template: iPhone 6s Plus */
    @media screen and (max-width: 768px) {
      grid-template-areas: "banner" "logo" "slogen";
      grid-template-columns: 1fr;
      grid-template-rows: 40vh 20vh 40vh;
    }
    /* #ENDREGIN */
    h1,
    h2 {
      grid-area: slogen;
      display: flex;
      justify-content: flex-end;
      font-weight: 800;
      margin: 0 0.5rem;
      /* #REGIN RWD for 5.5' mobile display: template: iPhone 6s Plus */
      @media screen and (max-width: 768px) {
        font-size: 14pt;
        margin: 1.2rem .8rem;
      }
      /* #ENDREGIN */
    }
    img {
      position: relative;
      grid-area: logo;
      height: 100%;
      max-width: 100%;
      margin-left: auto;
      &:first-child {
        max-width: 200%;
        width: 200%;
        height: auto;
        margin-left: 0;
        margin-bottom: auto;
        grid-area: banner;
        position: absolute;
        transform: translateY(-1rem);
        text-align: right;
        /* #REGIN RWD for 5.5' mobile display: template: iPhone 6s Plus */
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        /* #ENDREGIN */
      }
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
  /* #ENDREGIN */
  /* #REGIN MENU */
  .menu {
    z-index: 2;
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    color: $white;
    transition: all .3s;
    background: $white;
    color: $black;
    opacity: 0;
    pointer-events: none;
    >.mobile {
      display: none;
      background-color: $tone;
      > img {
        max-height: 15vh;
      }
      .toggle-btn {
        position: absolute;
        transform: translateX(-4rem);
        height: 3rem;
        width: 3rem;
        margin: .5rem;
        background: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1pt 1pt 2pt rgba($black, .5);
        svg {
          animation: rotate .3s;
        }
      }
    }
    /* #REGIN RWD for mobile */
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      height: 100vh;
      width: 80%;
      flex-direction: column;
      opacity: 1;
      pointer-events: initial;
      transform: translateX(100%);
      >.mobile {
        display: flex;
      }
      &.toggle {
        transform: translateX(0);
        box-shadow: 0 0 16pt rgba($black, .5);
      }
    }
    /* #ENDREGIN */
    &.toggle, &.is-child {
      pointer-events: initial;
      opacity: 1;
    }
    &.toggle .mobile .toggle-btn {
        box-shadow: 0 0 16pt rgba($black, .5);
    }
    &.is-child {
      @media screen and (min-width: 769px) {
        position: relative;
        .page-nav {
          display: grid;
        }
        &.toggle .page-nav {
          position: fixed;
          top: 0;
          box-shadow: 0 0 2pt rgba($black, .5);
          background-color: $white;
        }
      }
    }
    .page-nav {
      background-color: $paper;
      transition: box-shadow ease .3s;
      z-index: -2;
      position: absolute;
      display: none;
      top: 4rem;
      width: 720px;
      padding: 0 calc((100% - 720px) / 2);
      height: 4rem;
      grid-template-areas:
        "parent parent  parent  parent"
        "active child-0 child-1 child-2";
      grid-template-columns: auto .2fr .2fr .2fr;
      grid-template-rows: 1fr 26pt;
      .parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-area: parent;
        color: $content;
        font-size: 12pt;
        span {
          margin-right: 1rem;
        }
      }
      li {
        list-style: none;
        font-size: 9pt;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 26pt;
        a {
          text-align: center;
          color: inherit;
          text-decoration: none;
          line-height: 16pt;
        }
        &.active {
          align-items: flex-start;
          grid-area: active;
          font-size: 22pt;
        }
      }
    }
    >ul {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-shadow: 0 2pt 2pt -2pt rgba($black, .5);
      /* #REGIN RWD for mobile */
      @media screen and (max-width: 768px) {
        height: auto;
        flex-direction: column;
        box-shadow: none;
        justify-content: flex-start;
      }
      /* #ENDREGIN */
      >li {
        min-width: 9rem;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /* #REGIN RWD for mobile */
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }
        /* #ENDREGIN */
        &:first-child {
          >a:before {
            border-color: transparent;
          }
        }
        @media screen and (min-width: 769px) {
          &:last-child a span {
            padding: 0 1rem;
          }
        }
        >a {
          z-index: 0;
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: inherit;
          font-size: 14px;
          /* #REGIN RWD for mobile */
          @media screen and (max-width: 768px) {
            justify-content: flex-start;
            padding: 0 2rem;
            height: 4rem;
            width: auto;
            &:before {
              display: none;
            }
          }
          /* #ENDREGIN */
          &:before {
            z-index: -1;
            width: 100%;
            height: 1.2rem;
            position: absolute;
            box-sizing: border-box;
            border-left: 1px solid rgba($black, .5);
            content: "";
          }
        }
        &:hover {
          transition: all .3s;
          color: $tone;
          >ul {
            transition: all .3;
            display: flex;
          }
        }
        >ul {
          transition: all .3s;
          z-index: -1;
          display: none;
          position: fixed;
          flex-direction: row;
          justify-content: center;
          width: 100vw;
          height: 4rem;
          top: 4rem;
          left: 0;
          background: $paper;
          box-shadow: 0 2pt 2pt -2pt rgba($black, .5);
          /* #REGIN RWD for mobile */
          @media screen and (max-width: 768px) {
            justify-content: flex-start;       
            position: relative;
            flex-direction: column;
            top: 0;
            width: 100%;
            height: auto;
            z-index: 1;
          }
          /* #ENDREGIN */
          >li {
            width: 9rem;
            height: 100%;
            display: flex;
            position: relative;
            color: $black;
            transition: all .3s;
            /* #REGIN RWD for mobile */
            @media screen and (max-width: 768px) {
              width: 100%;
              height: 4rem;
            }
            /* #ENDREGIN */
            &:hover {
              color: $tone;
            }
            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: inherit;
              font-size: 14px;
              /* #REGIN RWD for mobile */
              @media screen and (max-width: 768px) {
                justify-content: flex-start;
                padding: 0 2rem;
                height: 4rem;
                // width: auto;
              }
              /* #ENDREGIN */
              span {
                text-align: center;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
  /* #ENDREGIN */
}
