@keyframes banner {
  0% {
    opacity: 0.1;
    background-position: top;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    background-position: bottom;
  }
}
#header {
  display: flex;
  z-index: 1000;
  position: relative;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  .image {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: $white;
    animation: banner 10s infinite;
    transition: all .3s;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #logo,
  .menu {
    filter: drop-shadow(0 0 6px $white);
  }
  #logo {
    z-index: 1;
    height: auto;
    display: flex;
    margin-bottom: .5rem;
    flex-direction: column;
    align-items: flex-end;
    h1, h2, p {
      margin-right: 26.5%;
      // color: $white;
    }
    h1, h2 {
      font-weight: 800;
    }
    img {
      margin: auto;
      display: block;
      width: 70vw;
      position: relative;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
  .menu {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    color: $black;
    background: linear-gradient(rgba($white, 0), rgba($white, 0.2) 40%, $white);
    transition: all .3s;
    &.toggle {
      position: fixed;
      background: $white;
      color: $black;
      >ul>li a:before {
        border-color: $black;
      }
    }
    >ul {
      width: 9rem * 5;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      >li {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        &:first-child {
          >a:before {
            border-color: transparent;
          }
        }
        >a {
          z-index: 0;
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: inherit;
          font-size: 14px;
          &:before {
            z-index: -1;
            width: 100%;
            height: 1.2rem;
            position: absolute;
            box-sizing: border-box;
            border-left: 1px solid rgba($black, .5);
            content: "";
          }
        }
        &:hover {
          transition: all .3s;
          border-color: $black;
          >ul {
            transition: all .3;
            display: flex;
          }
        }
        @for $i from 1 through 5 {
          &:nth-child(#{$i})>ul {
            left: calc(100% * -1 * #{($i - 1)});
            padding-left: calc(9rem * #{($i - 1)});
          }
        }
        >ul {
          transition: all .3;
          display: none;
          position: absolute;
          flex-direction: row;
          justify-content: flex-start;
          width: 100vw;
          height: 4rem;
          top: 4rem;
          background: $white;
          >li {
            width: 9rem;
            height: 100%;
            display: flex;
            position: relative;
            color: $black;
            &:hover {
              color: $tone;
            }
            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
    }
  }
}
