.button {
  margin: 1rem 0;
  color: inherit;
  text-decoration: none;
  a {
    color: inherit;
  }
  span {
    margin-right: 1rem;
  }
}

.bg-gray {
  background-color: $gray;
}

.bg-light {
  background-color: $light;
}