.button {
  margin: 1rem 0;
  color: inherit;
  text-decoration: none;
  a {
    color: inherit;
  }
  span {
    margin-right: 1rem;
  }
}

.bg-gray {
  background-color: $gray;
}

.bg-light {
  background-color: $light;
}

@keyframes downArrow {
  0% {
    transform: translateY(0em);
    opacity: 0;
  }
  50% {
    transform: translateY(4em);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0em);
    opacity: 0;
  }
}

.next {
  position: absolute;
  bottom: 9%;
  height: 100pt;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 8px $black);
  -webkit-filter: drop-shadow(0 0 8px $black);
  cursor: pointer;
  @media screen and (max-width: 667px) {
    transform: scale(.7);
  }
  img {
    animation: downArrow 2s infinite;
    width: 108pt;
    height: 50pt;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  justify-content: center;
  .card {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8pt);
    min-width: 320px;
    margin: 4pt;
    position: relative;
    box-shadow: 1pt 1pt 2pt rgba($black, .5);
    border-radius: 2pt;
    overflow: hidden;
    .image {
      border-radius: 0;
      height: 200px;
      width: 100%;
      margin: 0;
      background-position: center;
      background-size: cover;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &:before {
        top: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        content: '';
        background-color: rgba($black, .5);
      }
      h2 {
        z-index: 1;
        padding: 8pt;
        color: $white;
        font-size: 16pt;
      }
    }
    .content {
      margin: 8pt;
      width: calc(100% - 16pt);
      .date {
        color: $skin-dark;
        font-size: 10pt;
      }
      p {
        margin: 8pt 0;
      }
      a {
        color: $black;
        &:hover {
          text-decoration-line: none;
        }
      }
    }
  }
}

.paragraph {
  max-width: 720px;
  @media screen and (max-width: 768px) {
    padding: 1.2rem;
    max-width: calc(100vw - 1.2rem * 2);
  }
  img {
    width: 100%;
  }
  h1 {
    margin: 3rem 0 1rem 0;
    font-weight: 500;
  }
  p,
  ul {
    margin: 1rem 0;
    line-height: 1.6;
    font-size: 12pt;
    color: $content;
  }
  p {
    text-indent: 25pt;
    >a {
      margin: 0;
    }
  }
  p>img {
    transform: translateX(-25pt);
  }
  ul {
    background-color: $light;
    padding: 1rem;
    border-radius: 2pt;
    li {
      text-indent: 0;
      list-style: disc;
      margin: 0 0 1rem 1rem;
      line-height: 1.6;
      &:last-child {
        margin-bottom: 0;
      }
      >a {
        margin: 0;
      }
    }
  }
  h2 {
    position: relative;
    padding-left: 2rem;
    margin: 2rem 0 1rem 0;
    font-weight: 500;
    &:before {
      pointer-events: none;
      transform: translateX(-2rem);
      color: $tone;
      content: "#";
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  a {
    margin-right: 2rem;
    color: $tone;
    font-weight: 500;
    text-decoration-line: none;
    &:hover {
      text-decoration-line: underline;
    }
  }
}

.timeline-container {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  position: relative;
  .timeline {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &:nth-child(odd) {
      background-color: rgba($tone, .1)
    }
    .date {
      font-size: 12pt;
      width: 15rem;
      padding: .5rem;
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 768px) {
        justify-content: flex-start;
        width: auto;
        padding: 0 1.5rem;
      }
      span {
        line-height: 1.6;
      }
    }
    .content {
      font-size: 12pt;
      width: calc(100% - 10rem);
      display: flex;
      flex-direction: column;
      padding: 0 1.5rem;
      @media screen and (max-width: 768px) {
        width: auto;
      }
      &:before {
        top: calc(6px + .5rem);
        border: 6px solid $tone;
        content: "";
        position: absolute;
        border-radius: 50%;
        transform: translateX(calc(-100% - 1.5rem / 2));
        @media screen and (max-width: 768px) {
          top: 7px;
          transform: translateX(calc(-100% - 7px));
        }
      }
      &:after {
        border: 1px solid $tone;
        content: "";
        position: absolute;
        transform: translateX(calc(-1.5rem + 5px));
        height: 100%;
        @media screen and (max-width: 768px) {
          transform: translateX(calc(-100% - 12px));
        }
      }
      h3 {
        margin: .5rem 0;
      }
      p {
        line-height: 1.6;
        margin: .5rem 0;
        color: $content;
      }
    }
  }
}

.error {
  display: flex;
  height: 70vh;
  width: 100%;
  background-image: url('https://image.limeishu.org.tw/images/404.jpg');
  background-position: center;
  justify-content: center;
  align-items: center;
  .msg {
    color: $white;
    text-align: center;
    filter: drop-shadow(0 0 5pt rgba($black, 1));
    h1 {
      line-height: 32pt;
      font-size: 150pt;
      span {
        font-size: 32pt;
      }
    }
    p {
      font-size: 18pt;
    }
  }
}

.share {
  display: flex;
  flex-direction: row;
  font-size: 20pt;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid $skin_dark;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
  .icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10pt;
    transition: color .3s;
    &:hover {
      color: $tone;
      &.facebook {
        color: $facebook;
      }
      &.twitter {
        color: $twitter;
      }
    }
    span {
      font-size: 10pt;
      margin: 5pt;
    }
  }
}
