.slider-container {
  outline: none;
  margin: 2rem 0;
  max-width: 100vw;
  display: flex;
  flex-direction: column;

  .VueCarousel-dot {
    margin-top: 0 !important;
    padding: 0 10px !important;
    height: 3rem;
    display: inline-flex !important;
    flex-direction: column;
    justify-content: center;

    .VueCarousel-dot-button {
      transition: ease-in-out all .3s;
      border-radius: 5px;
      background-color: $skin !important;
    }
  }

  .VueCarousel-dot--active .VueCarousel-dot-button {
    background-color: $tone !important;
    // width: 25px !important;
  }

  .VueCarousel-navigation,
  .VueCarousel-pagination {
    position: relative;
    width: calc(100% - 2rem) !important;
    height: 3rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .VueCarousel-navigation-button {
    z-index: 2;
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
    top: 0 !important;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: $tone !important;
    color: $white !important;
    border-radius: 50%;
    font-family: 'FontAwesome';
    transform: translateY(-100%) !important;
    filter: drop-shadow(0 0 2pt rgba($black, .5));
  }

  .slider {
    z-index: 1;
    margin: 1rem;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    height: calc(100% - 2rem);
    border-radius: 10pt;
    box-sizing: border-box;
    box-shadow: 1pt 1pt 5pt rgba($black, .3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    img,
    iframe {
      width: 100%;
      display: flex;
      background-color: $tone;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    iframe {
      height: 100%;

      @media screen and (max-width: 1200px) {
        height: 200px;
      }

      @media screen and (max-width: 768px) {
        height: 640px;
      }

      @media screen and (max-width: 414px) {
        height: 270px;
      }

      @media screen and (max-width: 375px) {
        height: 240px;
      }

      @media screen and (max-width: 320px) {
        height: 160px;
      }
    }

    .content {
      margin: 1rem;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem - 100px);
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 20px;
        line-height: 24px;
        margin: .5rem 0;
      }

      p {
        text-indent: 0;
        font-size: 14px;
        color: $content;
        margin-bottom: 2rem;
      }

      .button {
        margin: auto 0 0 auto;
      }
    }
  }
}
