.slider-container {
  outline: none;
  // display: flex;
  // height: 60vh;
  margin: 1rem 0;
  width: 100%;
  .slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .image {
      margin: 1rem;
      display: flex;
      border-radius: 1rem;
      &:before {
        padding-top: 70%;
      }
    }
    .content {
      width: 60%;
      flex-direction: column;
      padding: 1em;
      h2 {
        font-size: 20px;
        line-height: 24px;
        margin: .5rem 0;
      }
      hr {
        width: 2rem;
        border: 2px solid $tone;
        margin: .5rem 0;
        margin-right: auto;
      }
      p {
        text-indent: 0;
        font-size: 14px;
        color: $content;
      }
    }
  }
}
