.spotlight {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  &.left {
    flex-direction: row-reverse;
  }
  &.right {
    flex-direction: row;
  }
  &.left,
  &.right {
    min-height: auto;
    padding: 2rem 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &.half {
    flex-direction: column;
    min-height: 50vh;
    padding: 2rem 0;
    &:not(.bg-gray) {
      margin-top: 10rem;
      @media screen and (max-width: 768px) {
        margin-top: 2rem;
      }
    }
  }
  .image {
    width: 25rem;
    height: 25rem;
    position: relative;
    border-radius: 50%;
    margin: 0 1rem;
    @media screen and (max-width: 768px) {
      width: 20rem;
      height: 20rem;
    }
    @media screen and (max-width: 320px) {
      width: 18rem;
      height: 18rem;
    }
  }
  >.content {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 29rem);
    padding: 1rem;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
    h1 {
      margin: 1rem 0;
    }
    p {
      font-size: 14px;
      line-height: 27px;
      color: $content;
      text-indent: 31px;
      letter-spacing: 1px;
      margin: 3px 0;
    }
  }
  .list {
    color: $white;
    align-items: flex-start;
    width: 50%;
    padding: 2rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: calc(100% - 4rem);
    }
    h1 {
      margin-bottom: 1rem;
    }
    li,
    p {
      line-height: 32px;
      color: $skin;
      letter-spacing: 1px;
      text-align: left;
      list-style: disc;
      @media screen and (max-width: 768px) {
        font-size: 10pt;
      }
      a {
        color: $tone;
      }
    }
  }
  &.inner {
    padding-top: 4rem;
    min-height: calc(100vh - 4rem);
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      padding-top: 0;
      min-height: calc(100vh);
    }
  }
  .rules-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    .rule {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      width: 20rem;
      border: 1px solid $white;
      border-radius: 10pt;
      padding: 1rem;
      .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .icon {
          font-size: 28pt;
        }
        h3 {
          font-size: 16pt;
          font-weight: 600;
          margin: 1rem;
        }
      }
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.merge p {
          justify-content: center;
          &:last-child {
            display: block;
            a {
              color: $tone;
            }
          }
        }
        p {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          font-size: 12pt;
          margin: 3pt 0;
          text-align: center;
          &:last-child {
            font-size: 10pt;
            color: rgba($white, .8);
            justify-content: center;
            margin-top: 1rem;
          }
          span {
            color: $white;
            font-size: 12pt;
            text-align: left;
            &:last-child {
              text-align: right;
              max-width: 12rem;
            }
          }
        }
      }
    }
  }
}
