.spotlight {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  &:first-child {
    margin-top: 10rem;
    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }
  }
  &.left {
    flex-direction: row-reverse;
  }
  &.right {
    flex-direction: row;
  }
  &.left, &.right {
    min-height: auto;
    padding: 2rem 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &.half {
    flex-direction: column;
    min-height: 50vh;
  }
  .image {
    width: 25rem;
    position: relative;
    border-radius: 50%;
    background-size: cover;
    margin: 0 1rem;
    @media screen and (max-width: 768px) {
      width: calc(100% - 2rem);
    }
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  >.content {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    padding: 1rem;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
    h1 {
      margin: 1rem 0;
    }
    p {
      font-size: 14px;
      line-height: 27px;
      color: $content;
      text-indent: 31px;
      letter-spacing: 1px;
      margin: 3px 0;
    }
  }
  .list {
    color: $white;
    align-items: flex-start;
    width: 50%;
    padding: 2rem;
    @media screen and (max-width: 768px) {
      width: calc(100% - 4rem);
    }
    h1 {
      margin-bottom: 1rem;
    }
    li, p {
      line-height: 32px;
      color: $skin;
      letter-spacing: 1px;
      text-align: left;
      @media screen and (max-width: 768px) {
        font-size: 10pt;
      }
      a {
        color: $tone;
      }
    }
  }
  &.inner {
    padding-top: 4rem;
    min-height: calc(100vh - 4rem);
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      padding-top: 0;
      min-height: calc(100vh);
    }
  }
}