// © Limeishu, @limeishu.org, 2018, All right reserved.
@import 'reset';
@import 'color';
@import 'font';

@import 'header';
@import 'footer';
@import 'banner';
@import 'spotlight';
@import 'slider';
@import 'plugin';

@import 'home';

#app {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
}
