// © Limeishu, @limeishu.org, 2018, All right reserved.
@import 'reset';
@import 'color';
@import 'font';

@import 'menu';

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: $black;
}
